* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.landing {
  height: 100vh;
  width: 100vw;
  background: #000000;
}
.logo {
  position: absolute;
  top: 4rem;
  right: 4rem;
}
.logo img {
  width: 13rem;
}
.arrow svg {
  height: 6.5rem;
  transition: height 0.2s ease-in-out;
}
.arrow svg:hover {
  height: 8rem;
}
.up-arrow svg {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.down-arrow svg {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(180deg);
}
.right-nav p {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 48px;
  font-weight: 300;
  text-transform: capitalize;
  transform: translate(0%, -50%) rotate(90deg);
  transition: font-size 0.2s ease-in-out;
}
.left-nav p {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 48px;
  font-weight: 300;
  text-transform: capitalize;
  transform: translate(0%, -50%) rotate(-90deg);
  transition: font-size 0.2s ease-in-out;
}

.right-nav p:hover,
.left-nav p:hover {
  text-decoration: underline;
  font-size: 56px;
}
.main {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 80vh;
}
.cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}
a {
  cursor: none;
}
.link-grow {
  transform: scale(0.5);
  cursor: none;
}

/* boards
boards
boards */

.arrow-boards {
  fill: #d99f33;
  -webkit-text-fill-color: #d99f33;
}
.arrow-boards p {
  color: #d99f33;
}
.arrow-boards a:visited {
  color: #d99f33;
}
.boards {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
}
.boards .page-logo h2 {
  color: #d99f33;
}
.head-boards {
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.head-boards h1 {
  font-size: 7.2em;
  color: #143725;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(143, 143, 143);
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img img {
  width: 25vw;
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}

/* accessories
accessories
accessories */

.arrow-acc {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
.arrow-acc p {
  color: #ffffff;
}
.arrow-acc a:visited {
  color: #ffffff;
}
.accessories {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #c4e7fc;
}
.accessories .page-logo h2 {
  color: #ffffff;
}
.head-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.head-center h1 {
  font-size: 7.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 10px 10px 20px rgb(41, 41, 41);
}

/* apparel
apparel
apparel */

.arrow-app {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
.arrow-app p {
  color: #ffffff;
}
.arrow-app a:visited {
  color: #ffffff;
}
.apparel {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f2c0c9;
}
.apparel .page-logo h2 {
  color: #ffffff;
}

/* graphics
graphics
graphics */

.arrow-graphics {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
.arrow-graphics p {
  color: #ffffff;
}
.arrow-gaphics a:visited {
  color: #ffffff;
}
.graphics {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #fec606;
}
.graphics .page-logo h2 {
  color: #fe0222;
}
.graphics .right-nav p,
.graphics .left-nav p {
  color: #fe0222;
}
.head-graphics {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.head-graphics h1 {
  font-size: 7.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(56, 56, 56);
}
.img-graphics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-graphics img {
  width: 30vw;
  box-shadow: 10px 10px 10px rgb(56, 56, 56);
}

/* stories
stories
stories */

.arrow-stories {
  fill: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
.arrow-stories p {
  color: #ffffff;
}
.arrow-stories a:visited {
  color: #ffffff;
}
.stories {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #000000;
}
.stories .page-logo h2 {
  color: #ffffff;
}
.head-stories {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.head-stories h1 {
  font-size: 7.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(143, 143, 143);
}
.img-stories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-stories img {
  width: 27vw;
  /* box-shadow: 10px 10px 10px rgb(100, 100, 100); */
}

/* nav
nav
nav */

.nav {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
}
.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-logo {
  position: absolute;
  top: 50px;
  right: 150px;
}
.page-logo a {
  text-decoration: none;
}
.page-logo h2 {
  text-decoration: none;
  color: #000000;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.list ul {
  list-style: none;
  text-align: center;
}
.list-item {
  margin-bottom: 5px;
}
.list-item a {
  text-decoration: none;
  color: #000000;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.list-item a:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  transition: all 0.2s ease-in-out;
}

.landing,
.boards,
.accessories,
.apparel,
.graphics,
.stories,
.nav {
  cursor: none;
}

/* media ports
media ports
media ports */

@media screen and (max-width: 1366px) {
  .arrow svg {
    height: 4.5rem;
  }
  .head-boards h1,
  .head-graphics h1,
  .head-stories h1 {
    font-size: 5.2em;
  }
  .head-boards {
    top: 25%;
    left: 50%;
  }
  /* .head-stories {
    top: 60%;
    right: 50%;
  } */
  .img img {
    width: 20vw;
  }
  .img-stories img {
    width: 30vw;
  }
}

@media screen and (max-width: 1280px) {
  .arrow svg {
    height: 4.5rem;
  }
  .head-boards h1,
  .head-graphics h1,
  .head-stories h1 {
    font-size: 5.2em;
  }
  .head-boards {
    top: 20%;
    left: 50%;
  }
  /* .head-stories {
    top: 60%;
    right: 50%;
  } */
  .img-stories img {
    width: 27vw;
  }
}
@media screen and (max-width: 414px) {
  .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .logo img {
    width: 10rem;
  }
  .cursor {
    display: none;
  }
  .up-arrow svg {
    top: 86%;
    left: 10vw;
    transform: translate(-50%, 0%) rotate(-90deg);
  }
  .down-arrow svg {
    top: 86%;
    left: 90vw;
    transform: translate(-50%, 0%) rotate(90deg);
  }
  .left-nav p {
    top: 90%;
    left: 90px;
    font-size: 28px;
    transform: translate(0%, -50%);
  }
  .right-nav p {
    top: 90%;
    right: 90px;
    font-size: 28px;
    transform: translate(0%, -50%);
  }
  .page-logo {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .head-boards {
    top: 25%;
    left: 15%;
  }
  .head-graphics {
    top: 63%;
    left: 80%;
  }
  .head-stories {
    top: 55%;
  }
  .head-boards h1,
  .head-graphics h1,
  .head-stories h1,
  .head-center h1 {
    font-size: 2.4rem;
  }
  .img img,
  .img-graphics img,
  .img-stories img {
    width: 60vw;
  }
  .list-item a {
    font-size: 2.2rem;
  }
  .landing,
  .boards,
  .accessories,
  .apparel,
  .graphics,
  .stories,
  .nav {
    cursor: pointer;
  }
}
