* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
}
.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #000000;
}
.logo {
  position: absolute;
  right: 0;
}
.logo img {
  width: 400px;
}
.arrow svg {
  height: 6.5rem;
}
.up-arrow svg {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.down-arrow svg {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(180deg);
}
.right-nav p {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 48px;
  font-weight: 300;
  text-transform: capitalize;
  transform: translate(0%, -50%) rotate(90deg);
}
.left-nav p {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 48px;
  font-weight: 300;
  text-transform: capitalize;
  transform: translate(0%, -50%) rotate(-90deg);
}
.right-nav p:hover,
.left-nav p:hover {
  text-decoration: underline;
}

/* boards
boards
boards */

.arrow-boards {
  fill: #d99f33;
}
.arrow-boards p {
  color: #d99f33;
}
.boards {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
}
.boards .page-logo h2 {
  color: #d99f33;
}
.main {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 80vh;
}
.head-boards {
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-30%, -15%);
  z-index: 2;
}
.head-boards h1 {
  font-size: 7.2em;
  color: #143725;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(143, 143, 143);
}
.img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.img img {
  width: 20vw;
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}

/* accessories
accessories
accessories */

.arrow-acc {
  fill: #ffffff;
}
.arrow-acc p {
  color: #000000;
}
.accessories {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #c4e7fc;
}
.accessories .page-logo h2 {
  color: #000000;
}
.head-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.head-center h1 {
  font-size: 7.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 10px 10px 20px rgb(41, 41, 41);
}

/* apparel
apparel
apparel */

.arrow-app {
  fill: #ffffff;
}
.arrow-app p {
  color: #ffffff;
}
.apparel {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f2c0c9;
}
.apparel .page-logo h2 {
  color: #ffffff;
}

/* graphics
graphics
graphics */

.arrow-graphics {
  fill: #ffffff;
}
.arrow-graphics p {
  color: #ffffff;
}
.graphics {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #fec606;
}
.graphics .page-logo h2 {
  color: #fe0222;
}
.graphics .right-nav p,
.graphics .left-nav p {
  color: #fe0222;
}
.head-graphics {
  position: absolute;
  top: 75%;
  right: 8%;
  transform: translate(-8%, -75%);
  z-index: 2;
}
.head-graphics h1 {
  font-size: 7.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(143, 143, 143);
}
.img-graphics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-graphics img {
  width: 30vw;
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}

/* stories
stories
stories */

.arrow-stories {
  fill: #ffffff;
}
.arrow-stories p {
  color: #ffffff;
}
.stories {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #000000;
}
.stories .page-logo h2 {
  color: #000000;
}
.head-stories {
  position: absolute;
  top: 70%;
  right: 50%;
  transform: translate(50%, -70%);
  z-index: 2;
}
.head-stories h1 {
  font-size: 7.2em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(143, 143, 143);
}
.img-stories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-stories img {
  width: 30vw;
  /* box-shadow: 10px 10px 10px rgb(100, 100, 100); */
}

/* nav
nav
nav */

.nav {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
}
.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-logo {
  position: absolute;
  top: 50px;
  right: 150px;
}
.page-logo a {
  text-decoration: none;
}
.page-logo h2 {
  text-decoration: none;
  color: #000000;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.list ul {
  list-style: none;
  text-align: center;
}
.list-item {
  margin-bottom: 5px;
}
.list-item a {
  text-decoration: none;
  color: #000000;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}
.list-item a:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  transition: linear 0.1s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .arrow svg {
    height: 4.5rem;
  }
  .head-boards h1,
  .head-graphics h1,
  .head-stories h1 {
    font-size: 5.2em;
  }
  .head-boards {
    top: 20%;
    left: 30%;
    transform: translate(-30%, -20%);
  }
  .head-stories {
    top: 60%;
    right: 50%;
    transform: translate(50%, -60%);
  }
  .img-stories img {
    width: 27vw;
  }
}
@media screen and (max-width: 1280px) {
}
